.controls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  &>*:not(:last-child) {
    margin-right: 50px;
    padding: 10px;
  }

  &>* {
    background-color: #EEE;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    // box-shadow: 1px 1px 2px 1px #000000;

    &:hover {
      opacity: .8;
    }
  }


  // .controls__skip

  &__skip {
    border-radius: 10%;
    background-color: transparent;

    &>svg {
      color: #EEE;
    }

  }

  // .controls__play

  &__play {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px 1px #000000;

    &>svg {
      width: 60%;
      height: 60%;
    }
  }
}