.controls {}


// sideControls

.sideControls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

// progress bar
.progressControls {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
}

// timer
.timer {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.1666;
  color: rgba(165, 192, 255, 0.7);
  position: absolute;
  // margin-bottom: 36px;
}

// timerLength
.timerLength {
  top: 0;
  left: 0;
}

// timerCurrent
.timerCurrent {
  top: 0;
  right: 0;
}

// progressBar
.progressBar {
  height: 4px;
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  position: relative;
  margin-top: 30px;

  & span {
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    top: -150%;
    left: 0;
    transform: translateX(-50%);
    transition: all .1s linear;
  }
}


// main controls
.mainControls {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

  &>*:not(:last-child) {
    margin-right: 50px;
    padding: 10px;
  }

  &>* {
    background-color: #EEE;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all .3s ease;
    // box-shadow: 1px 1px 2px 1px #000000;

    &:hover {
      opacity: .8;
    }
  }
}


// * buttons

.activeBtn {
  & * {
    transition: all .3s ease;
    fill: #FFFFFF;
  }
}

// volumeBtn
.volumeBtn {
  background-color: transparent;
  width: 20px;
  height: 20px;
}

// loopBtn
.loopBtn {
  background-color: transparent;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 0;
  right: 13%;
}

// orderBtn
.orderBtn {
  background-color: transparent;
  width: 20px;
  height: 20px;
}


// skipBtn
.skipBtn {
  border-radius: 10%;
  background-color: transparent;

  &>svg {
    color: #EEE;
  }

}

// playBtn
.playBtn {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  box-shadow: 1px 1px 2px 1px #000000;

  &>svg {
    width: 60%;
    height: 60%;
  }
}