.player-details {
  // background: #000;
  // .player-details__img
  margin-bottom: 20px;


  &__img {
    position: relative;
    width: 200px;
    height: 200px;
    margin: 20px auto 35px;


    &>img {
      display: block;
      width: 100%;
      border-radius: 16px;
      border: 2px solid #EEE;
      object-fit: cover;
    }
  }

  // .player-details__title

  &__title {
    color: #EEE;
    font-size: 28px;
    text-align: center;
    margin-bottom: 10px;
    min-height: 60px;
  }

  // .player-details__artist

  &__artist {
    color: #AAA;
    font-style: 20px;
    text-align: center;
  }
}