.progressBar {
  width: 95%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  position: relative;
  cursor: pointer;
}

.switcher {
  display: block;
  border-radius: 50%;
  background: #FFFFFF;
  position: absolute;
  top: 50%;
  left: 0;
  cursor: grab;
  transform: translate(-50%, -50%);

  &L {
    width: 20px;
    height: 20px;
  }

  &M {
    width: 16px;
    height: 16px;
  }

  &S {
    width: 10px;
    height: 10px;
  }
}