// progressBar
.progressBar {
  height: 10px;
  background-color: rgba(255, 255, 255, 0.31);
  border-radius: 16px;
  position: relative;
  margin-top: 30px;
  cursor: pointer;

  & span {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FFFFFF;
    position: absolute;
    top: -50%;
    left: 0;
    cursor: grab;
    transform: translateX(-50%);
    // transition: all .1s linear;
  }
}