.player {
  display: block;
  width: 320px;
  // background-color: #313131;
  padding: 30px;
  // border-radius: 16px;
  // box-shadow: inset -6px -6px 12px rgba(0, 0, 0, 0.8), inset 6px 6px 12px rgba(255, 255, 255, 0.4);

  &>h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &>p {
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
}