.player {
  display: block;
  width: 320px;
  padding: 20px 30px;

  &>h4 {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  &>p {
    color: #aaa;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.4;
    text-align: center;
  }
}